<div class="heading">
  <p><%= t('navbar.tags') %></p>
</div>

<div class="body">
  <% if admin? %>
      <div class="blog-tag">
        <%= link_to t("general.new"), new_blog_post_path %>
      </div>
  <% end %>
  <div class="blog-tag">
    <%= link_to t("general.all"), blog_posts_path %>
  </div>

  <% blog_tags.each do |tag| %>
      <div class="blog-tag">
        <%= link_to tag.value, blog_posts_path(tag: tag.value) %>
      </div>
  <% end %>
</div>