<div class="blog-image">
  <% unless local_assigns[:url].nil? %>
      <%= link_to url do %>
        <%= render partial: 'shared/image', locals: {image:image, alt:alt} %>
      <% end %>
  <% else %>
      <%= render partial: 'shared/image', locals: {image:image, alt:alt} %>
  <% end %>
</div>
<br/>
