<div class='edit-blog-post'>
  <div class='heading'>
    <h1><%= t('general.new_blog_post') %></h1>
  </div>
  <div class='body'>
    <%= render 'form' %>
    <%= link_to t("general.back"), blog_posts_path %>
  </div>
</div>
