<div class="edit-video-part">

  <div class="heading">
    <h1><%= t('general.edit_video_part') %></h1>
  </div>
  <div class="body">
    <%= render 'form' %>
    <%= link_to t('general.show'), video_lesson_part_path({lesson_id: @video_part.video_lesson_id,
                                                           id: @video_part.id}) %> |
    <%= link_to t('general.back'), video_lesson_parts_path %>

  </div>

</div>