<table class="video-parts-container-layout">
  <tr>
    <td class="parts-container-layout">
      <div class="parts-container">
        <div class="parts-header">
          <div class="heading">
            <h1><%= @title %></h1>
          </div>
        </div>

        <% @video_parts.each do |video_part| %>
            <%= render partial: 'video_part_item', locals: {video_part: video_part} %>
        <% end %>
        <% if admin? %>
            <%= link_to t('general.new'), new_video_lesson_part_path %>
        <% end %>
      </div>
    </td>
  </tr>
</table>

