<div class="edit-video-part">

  <div class="heading">
    <h1><%= t('general.new_video_part') %></h1>
  </div>
  <div class="body">
    <%= render 'form' %>
    <%= link_to t('general.back'), video_lesson_parts_path %>
  </div>

</div>


