<% content_for :head do %>
    <% @video_part.title %>
<% end %>

<div class="video-part-container">
  <div class="heading">
    <h1> <%= link_to @video_part.title, video_lesson_part_path(id: @video_part.id, lesson_id: @video_part.video_lesson_id) %> </h1>
  </div>
  <div class="body">
    <p><%= @video_part.body.html_safe %></p>

    <div class="edit">
      <%= link_to t('general.edit'), edit_video_lesson_part_path(lesson_id:@video_part.video_lesson_id,
                                                                 id: @video_part.id)  %> |
      <%= link_to t('devise.views.back'), video_lesson_parts_path %>
    </div>
  </div>
</div>