<nav class="navbar navbar-default navbar-fixed-top app-header" role="navigation">
  <div class="container-fluid inner-app-header">
    <!--Brand logo-->
    <div class="navbar-header app-header-brand">
      <a class="navbar-brand" href="#">Finance</a>
      <!--<a class="navbar-brand" href="#">-->
      <!--<img alt="Brand" src="...">-->
      <!--</a>-->
    </div>

    <!--Links to pages-->
    <ul class="nav navbar-nav app-header-menu">
      <li class="active"><a href="#">Блог</a></li>
      <li><a href="#">Видео</a></li>
      <li><a href="#">О сайте</a></li>
    </ul>

    <!--Login buttons-->
    <div class="container-fluid navbar-right login-panel">
      <a class="nav navbar-nav" href="#">
        <%=image_tag "email_icon.png", alt: "email"%>
      </a>
      <a class="nav navbar-nav" href="#">
        <%=image_tag "facebook_icon.png", alt: "facebook"%>
      </a>
      <a class="nav navbar-nav" href="#">
        <%=image_tag "twitter_icon.png", alt: "twitter"%>
      </a>
      <a class="nav navbar-nav" href="#">
        <%=image_tag "rss_icon.png", alt: "rss"%>
      </a>

    </div>


  </div>
</nav>