<div class="heading">
  <h2><%= t('navbar.tags') %></h2>
</div>

<div class="body">
  <% if admin? %>
      <div class="tag">
        <%= link_to t("general.new"), new_path if new_path %>
      </div>
  <% end %>
  <div class="tag">
    <%= link_to t("general.all"), blog_posts_path %>
  </div>

  <% tags.each do |tag| %>
      <div class="tag">
        <%= link_to tag.value, blog_posts_path(tag: tag.value) %>
      </div>
  <% end %>
</div>