<div class="body">
  <% if locale.to_s == 'ru' %>
      <h1>Блог о том, как открыть и начать свой бизнес</h1>
      <p>
        Добро пожаловать, я рад приветствовать Вас на своем блоге iOpenBiznes.ru,
        основная цель которого - помочь открыть свой собственный бизнес и
        как можно быстрее получить первую выручку.
      </p>

      <p>Мои посты будут посвящены трем основным вопросам:</p>
      <ol>
        <li>
          Как выбрать направление для нового бизнеса
        </li>
        <li>
          Где найти ресурсы для открытия нового бизнеса
        </li>
        <li>
          Как получить эти ресурсы
        </li>
      </ol>
      <p>
        За время своей <%= link_to 'профессиональной карьеры', about_show_path %> я смог детально изучить как работают
        сотни бизнесов
        и выявить некоторые признаки,
        которые отделяют успешные бизнесы от неуспешных.
        Я начал этот блог, чтобы с одной стороны поделиться
        уже накопленными знаниями, с другой стороны, чтобы постоянно
        совершенствоваться, получать новые знания и
        выкладывать их в этом блоге.
      </p>

      <p>
        Надеюсь, что этот блог будет Вам полезен и позволит открыть
        или усовершенствовать свой бизнес.
      </p>
      <button class="btn btn-primary" onclick="location.href='<%= blog_posts_path %>'"> Начать </button>
      <br/>
      <br/>
  <% end %>
</div>
