<div class="body">
  <% if locale.to_s == 'ru' %>
      <p>Добро пожаловать на iOpenBiznes.ru!</p>

      <h3>Чем этот блог может быть Вам полезен?</h3>
      <p>Здесь Вы найдете разные посты по бизнес-тематике:</p>

      <ol>
        <li>Интересные и полезные (<a href="http://lurkmore.to/IMHO">по моему скромному мнению</a>)
          статьи (краду их у гуру американского бизнеса)</li>
        <li>Различные всесторонние исследования (используя открытую и инсайдерскую информацию)</li>
        <li>Свои эксперименты в области бизнеса</li>
      </ol>

      <h3>Зачем я начал этот блог?</h3>
      <p>Мысль об управлении собственным бизнесом всегда вызывала во мне некий
        благоговейный трепет. Разве не круто работать по гибкому графику,
        быть самому себе хозяином и при этом зарабатывать огромные деньги?
        Конечно круто! Но время от времени здравый смысл задает «неудобные вопросы»:
        Что если однажды ты просто останешься на улице?
        Как ты вообще научишься предпринимательству? Где ты возьмешь стартовый капитал?
        А ты знаешь, что <a href="http://www.forbes.com/sites/ericwagner/2013/09/12/five-reasons-8-out-of-10-businesses-fail/">8 из 10 новых бизнесов закрываются</a>?
        И вообще, создание бизнеса – это как игра в рулетку, только заработать на рулетке легче (по крайней мере так утверждает Голливуд). </p>
      <p>
        Поэтому в какой-то момент я для себя решил, что лучше спокойно работать по найму
        и получать стабильный и относительно неплохой доход.
        Однако за последние несколько лет работы в инвестиционных компаниях,
        я изучил изнутри более 100 бизнесов в разных отраслях, с выручкой от 1 миллиона
        до 100 миллиардов рублей и понял, что ошибался.
        Оказалось, что шансы открыть свой собственный бизнес намного выше, чем я думал раньше.
        Более того есть некоторые направления бизнеса (так называемые ниши),
        где можно создать успешный бизнес даже без существенных денежных затрат.
      </p>
      <p>К чему я все это? Как Вы, наверное, догадались, я хочу попробовать открыть свой
        собственный бизнес. Я большой фанат научного подхода и буду его использовать
        в том числе для открытия бизнеса (не забывая тем не менее сдабривать его
        хорошей порцией юмора, чтобы не относиться слишком серьезно к собственным неудачам :) ). </p>
      <p><%= image_tag 'lean.png', alt:'Научный подход', style:'width:100%;max-height:30em;display:block;margin:0 auto;' %></p>
      <h3>Что этот блог поможет (я надеюсь) сделать мне?</h3>
      <ol>
        <li>Найти единомышленников</li>
        <li>Постоянно совершенствовать свои знания</li>
        <li>Понять, как устроен интернет, сайты, блоги, как их продвигать и т.п.</li>
      </ol>
      <p>Вот собственно и все. Если хотите узнать мою биографию,
        или связаться со мной, заходите на страницу <%= link_to 'обо мне', about_show_path %> .
        Пишите мне <u>по любому</u> вопросу, я отвечу <u>каждому</u>.</p>
  <% end %>
</div>
