// Place all the styles related to the blog::posts controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/




.blog-container {
  padding:20px;

  .blog-posts-container-layout {
    width:100%;

    .blog-item {
      @include post-panel;
    }

    .posts-panel {
      padding: 10px 0px;
      .heading {
        border-top: $border-blog-post;
        border-left: $border-blog-post;
        border-right: $border-blog-post;
        font-family: $font-family-links;
        p {
          font-size:18px;
          margin:0;
        }
        padding: 5px 10px;
        @include gradient-vertical-three-colors($color1-heading, $color2-heading, 90%, $color3-heading);
      }
      .body {
        border-bottom: $border-blog-post;
        border-left: $border-blog-post;
        border-right: $border-blog-post;
        padding: 5px 10px;
        background-color: $color3-heading;
      }

    }

    .posts-container-layout {
      vertical-align: top;
      width: 80%;
      padding:20px 20px;
    }

    .posts-panel-layout {
      vertical-align: top;
      width: 20%;
      padding:20px 0px;
    }

  }

  .blog-post-container {
    @include post-panel;
  }

  .edit-blog-post {
    @include post-panel;
  }

}

.blog-post-form-body {

  #myModal {
    .modal-dialog {
      width: 90%;
    }
  }

  .form-table {
    width: 100%;
    .left-controls, .right-controls {
      vertical-align: top;
      padding: 10px;
      & > div {

      }

    }
    .left-controls {
      width: 80%;
    }

    .right-controls {
      width: 20%;
    }
  }
}
