// Place all the styles related to the blog::posts controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/




.blog-container {
  padding:20px;

  .blog-posts-container-layout {
    width:100%;

    .blog-item {
      @include app-panel;
    }

    .posts-panel {
      @include app-panel;
    }

    .posts-container-layout {
      vertical-align: top;
      width: 80%;
      padding:20px 20px;
    }

    .posts-panel-layout {
      vertical-align: top;
      width: 20%;
      padding:20px 0px;
    }

  }

  .blog-post-container {
    @include app-panel;
  }

  .edit-blog-post {
    @include app-panel;
  }

}