// Place all the styles related to the blog::posts controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color1-heading: rgba(255, 236, 179, 0.8);
$color2-heading: rgba(255, 227, 140, 0.8);
$color3-heading: rgba(255, 242, 204, 0.8);
$border-blog-post: 1px solid rgb(191, 144, 0);

@mixin post-panel {
  padding: 10px;
  .heading {
    border-top: $border-blog-post;
    border-left: $border-blog-post;
    border-right: $border-blog-post;
    h1 {
      margin: 0px;
      font-size:28px;
      a {@include transition(color 0.2s ease-in);}
      a:hover{text-decoration: none; color:#a07864 }
    }
    padding: 5px 10px;
    @include gradient-vertical-three-colors($color1-heading, $color2-heading, 90%, $color3-heading);
  }
  .body {
    border-bottom: $border-blog-post;
    border-left: $border-blog-post;
    border-right: $border-blog-post;
    padding: 5px 10px;
    background-color: $color3-heading;
  }

}

.blog-container {
  padding:20px;

  .blog-posts-container-layout {
    width:100%;

    .blog-item {
      @include post-panel;
    }

    .posts-panel {
      padding: 10px 0px;
      .heading {
        border-top: $border-blog-post;
        border-left: $border-blog-post;
        border-right: $border-blog-post;
        font-family: $font-family-links;
        p {
          font-size:18px;
          margin:0;
        }
        padding: 5px 10px;
        @include gradient-vertical-three-colors($color1-heading, $color2-heading, 90%, $color3-heading);
      }
      .body {
        border-bottom: $border-blog-post;
        border-left: $border-blog-post;
        border-right: $border-blog-post;
        padding: 5px 10px;
        background-color: $color3-heading;
      }

    }

    .posts-container-layout {
      vertical-align: top;
      width: 80%;
      padding:20px 20px;
    }

    .posts-panel-layout {
      vertical-align: top;
      width: 20%;
      padding:20px 0px;
    }

  }

  .blog-post-container {
    @include post-panel;
  }

  .edit-blog-post {
    @include post-panel;
  }

}

.blog-post-form-body {

  #myModal {
    .modal-dialog {
      width: 90%;
    }
  }

  .form-table {
//    background: none;
//    border: none;
    width: 100%;
    .left-controls, .right-controls {
      vertical-align: top;
      padding: 10px;
      & > div {

      }

    }
    .left-controls {
      width: 80%;
    }

    .right-controls {
      width: 20%;
    }
  }
}
