<div class="body">
  <h1>Обо мне</h1>
  <p>Друзья, я пока что работаю над этой страницей.
    Тем временем <u>по любым вопросам</u> Вы можете связаться со мной через: </p>
  <ul>
    <li><a href="https://www.facebook.com/karasev.alexey">Facebook</a></li>
    <li><a href="https://www.linkedin.com/profile/view?id=193533730">Linkedin</a></li>
  </ul>
</div>
