@import "bootstrap-sprockets";
@import "bootstrap";

.app-header {
  position: relative;
  height: 50px;
  .inner-app-header {
    height:100%;
    .login-panel {
      height: 100%;
      .nav {
        height: 100%;
        img {
          display: block;
          height: 100%;
        }
      }
    }
  }
}