@import "fonts";
@import "before_bootstrap";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "after_bootstrap";
@import "home";
@import "about";
@import "header";
@import "body";
@import "blog/posts";
@import "video/lessons";
@import "video/parts";
@import "images";
@import "movies";
@import "comments";
@import "social";
@import "attachments";

body {

  background: asset-url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 16px; //large desktop
}

//medium desktop
@media all and (max-width: $screen-lg) {
  body{font-size: 18px;}
}

//ipad
@media all and (max-width: $screen-md) {
  body{font-size: 20px;}
}

//iphone
@media all and (max-width: $screen-sm) {
  body{font-size: 24px;}
}

.page-container {
  min-height: 1024px;
  position: relative;
  padding:50px 0px 0px 0px;
}
