@import "fonts";
@import "bootstrap_override";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "header";
@import "body";

.page-container {
  min-height: 1024px;
  position: relative;
  padding:80px 10px;
  @include gradient-vertical-three-colors(rgb(232, 228, 185), #fff8cc, 50px, rgb(255, 255, 255));
}
