// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-panel {
  .comment-heading {
    @include app-panel-no-body;
  }
  .comment {
    @include app-panel-no-heading;
    .user, .text {
      display:inline-block;
    }
    .text {
      padding-top:15px;
      vertical-align: top;
      width:80%;
    }
    .user {
      padding:10px 50px 10px 10px;
      .avatar {
        text-align: center;
        padding:10px;
        img {
          @include box-shadow(0px 0px 5px gray)
        }
      }
    }
    &.indent0 {margin-left:0px;}
    &.indent1 {margin-left:40px;}
    &.indent2 {margin-left:80px;}
    &.indent3 {margin-left:120px;}
    &.indent4 {margin-left:160px;}
    &.indent5 {margin-left:200px;}
    &.indent6 {margin-left:240px;}
    &.indent7 {margin-left:280px;}
    &.indent8 {margin-left:320px;}
    &.indent9 {margin-left:360px;}


  }
}