@font-face {
  font-family: 'RobotoCondensed';
  src: asset_url('RobotoCondensed-Regular-webfont.eot');
  src: asset_url('RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  asset_url('RobotoCondensed-Regular-webfont.woff') format('woff'),
  asset_url('RobotoCondensed-Regular-webfont.ttf') format('truetype'),
  asset_url('RobotoCondensed-Regular-webfont.svg#RobotoCondensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: asset_url('NotoSans-Regular-webfont.eot');
  src: asset_url('NotoSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  asset_url('NotoSans-Regular-webfont.woff') format('woff'),
  asset_url('NotoSans-Regular-webfont.ttf') format('truetype'),
  asset_url('NotoSans-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}