$navbar-height: 3em;

.app-header {
  height: $navbar-height;
  background: rgba(255, 255, 255, 0.5);

// navbar iphone button
  .navbar-toggle {
    background: #D5C2C2;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    box-shadow: 0px 0px 5px gray;
    border: none;
  }

  .navbar-brand {
    font-size:100%;
    padding: 0px !important;
    .navbar-brand-logo {
      display: inline-block;
      height: $navbar-height  / 1.25 ;
    }

    .navbar-brand-title {
      font-family: $font-family-links;
      font-size: 160%;
      @media (max-width: $screen-xs) {
        font-size: 120%;
      }
      color: black;
      position: relative;
      top: 0.2em / 1.2;

    }
  }

  .app-header-menu {
    line-height: $navbar-height / 1.25;
    font-family: $font-family-links;
    font-size: 125%;
    padding: 0px;
    li {
      display: inline;
      list-style-type: none;
      position: relative;
      top: 0.2em;

    }
  }
  .app-header-menu-popup {

    box-shadow: 0px 0px 2px gray;
    background: #FBEDC8;

    ul {
      padding: 0;
     li {
       font-family: $font-family-links;
       box-shadow: 0px 0px 2px gray;
       list-style-type: none;
       height: auto !important;
     }
   }
  }

  .inner-app-header {
    .login-panel {
      img {
        height:2.5em;
        @include transition(transform 0.2s ease-in);
      }
      a, a:hover, a:visited, a:active {
        padding: 0.3125em !important;
      }
      img, img:hover, img:visited, img:active {
        @include scale(1)
      }
      img:hover {
        transform: scale(1.3) rotate(4deg)
      }
      .signed-in-user {
        li {
          float: right;
          padding: 5px 10px;
          td {
            text-align: right;
            a, a:hover, a:visited, a:active {
              padding: 0 !important;
            }
          }

          .profile-image {
            @include box-shadow(0px 0px 2px black);
            height: 2.5em;
          }
        }
      }
    }

    a {
      color: black !important;
    }

    li {
      height: $navbar-height;
      a {
        @include transition(color 0.2s ease-in);
      }
      a, a:hover, a:visited, a:active {
        color: black;
        padding: 15px 10px;
      }
      a:hover {
        text-decoration: underline;
        color: rgb(160, 120, 100) !important;
      }

    }

    li.active {
      a, a:hover, a:active {
        background: none;
        color: rgb(160, 120, 100) !important;
        text-decoration: underline;
      }
    }

  }
}

#navbarModal .modal-dialog {
  width: 310px;
  left: 20px;
}