$navbar-height: 50px;

.app-header {
  height: $navbar-height;
  background: rgba(255, 255, 255, 0.5);

  .app-header-brand > .navbar-brand {
    padding: 0px;
    .navbar-brand-logo{
      display: inline-block;
      height: $navbar-height;
    }

    .navbar-brand-title {
      font-family: $font-family-links;
      font-size: 32px;
      color: black;
      position: relative;
      top:3px
    }
  }

  .app-header-menu {
    font-family: $font-family-links;
    font-size: 20px;
    margin-right: 50px;
  }

  .inner-app-header {

    .login-panel a {
      padding: 5px;
      img {
        height: 40px;
      }
    }

    a{
      color:black !important;
    }

    a:hover {
      text-decoration: underline;
    }

    li {
      a, a:hover, a:active{
        padding:15px 10px;
      }
    }

    li.active {
      a, a:hover, a:active {
        background: none;
        color: black;
        text-decoration: underline;
      }
    }

  }
}