// Place all the styles related to the image controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image-gallery {

  .thumbs-layout, .control-panel-layout {
    vertical-align: top;
  }
  .thumbs-layout {
    width:80%
  }

  .control-panel-layout {
    width:20%
  }

  .control-panel-container {
    .tags-control-panel, .edit-tags-control-panel, .upload-image-control-panel {
      a{
        display: block;
      }
      padding:10px;
      @include box-shadow(0px 0px 5px #7C6744);
      @include gradient-vertical(#FDFFB1, #fff);
      margin:10px;
    }
  }

  .thumbs-container {
    padding:10px;
    @include box-shadow(0px 0px 5px #7C6744);
    @include gradient-vertical(#FDFFB1, #fff);
    margin:10px;
  }

  .image-thumb-container {

    display: inline-block;
    margin: 5px;
    &.selected {
      margin: 3px;
      border: 2px solid cornflowerblue;
      @include box-shadow(0px 0px 5px cornflowerblue)
    }
  }
}