// Place all the styles related to the image controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image-gallery {

  .side-panel, .images-container {
    .panel-section {
      padding:10px;
      @include box-shadow(0px 0px 5px #7C6744);
      @include gradient-vertical(#FDFFB1, #fff);
      margin:10px;
    }
    vertical-align: top;
  }

  .side-panel {
    width: 20%;
  }

  .images-container {
    width: 80%;
  }

  .image-container {

    display: inline-block;
    margin: 5px;
    &.selected {
      margin: 3px;
      border: 2px solid cornflowerblue;
      @include box-shadow(0px 0px 5px cornflowerblue)
    }
  }
}