<div class="edit-video-lesson">

  <div class="heading">
    <h1><%= t('general.edit_video_lesson') %></h1>
  </div>
  <div class="body">
    <%= render 'form' %>
    <%= link_to t('general.show'), @video_lesson %> |
    <%= link_to t('devise.views.back'), video_lessons_path %>
  </div>

</div>