<div class="edit-video-lesson">

  <div class="heading">
    <h1><%= t('general.new_video_lesson') %></h1>
  </div>
  <div class="body">
    <%= render 'form' %>
    <%= render 'shared/modal', locals:{id:'myModal'} %>
    <%= link_to t('devise.views.back'), video_lessons_path %>
  </div>

</div>

